.product-details-container {
  display: flex;
  justify-content: space-between;
}

.product-image {
  width: 100%;
  max-width: 450px;
  margin-right: 140px;
}

.product-info {
  width: 100%;
}

.product-title {
  font-size: 40px;
  margin-bottom: 30px;
}

.product-cart {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.product-price {
  font-weight: 500;
  font-size: 27px;
  margin-right: 38px;
}

.product-comp {
  margin-bottom: 30px;
}

.product-calc {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.comp-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.nutrition-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;
  margin-right: 30px;
}

.comp-text {
  font-size: 18px;
}

.nutrition-item {
  font-size: 18px;
  margin-bottom: 15px;
}
.nutrition-item:last-child {
  margin-bottom: 0;
  display: flex;
  align-items: flex-end;
}

.calories-input {
  margin-left: 5px;
  border: 0.6px solid #282828;
  border-radius: 6px;
  width: 80px;
  outline: none;
  padding: 7px 16px;
}

.packs-amount {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 18px;
}

.packs-amount span {
  font-weight: 700;
}

.add-to-cart-btn-red {
  background-color: #c40000;
}

.admin-product-price {
  margin-bottom: 20px;
}

.admin-nutrition-item {
  display: flex;
}

.admin-product-input {
  width: 423px;
}

.admin-calc-input {
  width: 66px;
  margin-left: 5px;
}

.admin-prod-cont {
  margin-bottom: 30px;
}

.admin-add-prod-btn {
  margin-top: 30px;
}

.admin-product-input::-webkit-inner-spin-button,
.admin-product-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.admin-product-input {
  -moz-appearance: textfield;
}

.error-message {
  margin-top: 30px;
  color: #c40000;
}

.nutrition-item-text {
  white-space: nowrap;
}

@media only screen and (max-width: 1200px) {
  .product-calc {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 992px) {
  .product-details-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-image {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .product-info {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-description {
    width: 500px;
  }

  .product-nutrition {
    display: flex;
    flex-direction: column;
  }

  .product-calc {
    flex-direction: column;
  }

  .nutrition-title {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .packs-amount {
    display: flex;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 600px) {
  .product-description {
    width: auto;
    align-items: center;
  }

  .product-nutrition {
    align-items: center;
  }

  .product-cart {
    flex-direction: column;
    align-items: center;
  }

  .add-to-cart-btn-red {
    margin-top: 10px;
  }

  .product-price {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .product-calc {
    align-items: center;
  }

  .admin-product-input {
    width: 100%;
  }
}

@media only screen and (max-width: 360px) {
  .product-title {
    font-size: 30px;
  }

  .product-price {
    font-size: 22px;
  }

  .add-to-cart-btn {
    font-size: 18px;
  }

  .nutrition-item {
    font-size: 16px;
  }
}
